<div id="mask" class="mask"></div> 
<div>
    <div class="col-md-6">
		<div class = 'viptitle'>商品消费</div>
		<div class="form-inline">
		    <div class="form-group order">
		    	<label for="cardNumber">会员卡号</label>
		    	<input disabled type="text" class="form-control" id="cardNumber" value={{cardNumber}}>
		    </div>
		    <div class="input-group" id="searchinput">
	   	     	<input type="text" class="form-control  searchval" placeholder="请输入商品名...">
	   	     	<span class="input-group-btn">
	   	     	  	<button class="btn btn-default" type="button"  name="search">
	   	     	  	<span class="glyphicon glyphicon-search"></span>
	   	     	  	</button>
	   	     	</span>
	   		</div>
	   		<table id="ordertable">
	   			<th>商品名称</th>
	   			<th>商品号</th>
	   			<th>商品单价</th>
	   			<th>库存量</th>
	   			<th>会员折扣</th>
	   			<tbody class="mybody"></tbody>
	   		</table>
	   		<div class="nav">
				<ul class="pagination">
			    </ul>
		    </div>
		</div>
	</div>
	<div class="col-md-6">
		<div class = 'viptitle'>订单信息</div>
		<div class="form-inline">
		    <div class="form-group order">
		    	<label for="cardnum">会员卡号</label>
		    	<input disabled type="text" class="form-control" id="cardnum" value={{cardNumber}}>
		    </div>
		    <div class="form-group order">
		    	<label for="ordernum">订单号</label>
		    	<input type="text" class="form-control" id="ordernum">
		    	<p class="ordernumerr"></p>
		    </div>
		    <div class="form-group order">
		    	<label for="goodname" >商品名</label>
		    	<input  disabled type="text" class="form-control" id="goodname">
		    </div>
		    <div class="form-group order">
		    	<label for="goodnum" >商品号</label>
		    	<input  disabled type="text" class="form-control" id="goodnum">
		    </div>
		    <div class="form-group order">
		    	<label for="price" >单价</label>
		    	<input disabled type="text" class="form-control" id="price">
		    </div>
		    <div class="form-group order" id="goodcount">
		    	<label for="count">数量</label>
		    	<input  type="text" class="form-control" id="count">
		    	<p class="counterr"></p>
		    </div>
		    <div class="form-group order">
		    	<label for="account">订单总额</label>
		    	<input  disabled type="text" class="form-control" id="account">
		    </div>
		    <div class="form-group order">
		    	<label for="dismoney">折后金额</label>
		    	<input disabled type="text" class="form-control" id="dismoney">
		    </div>
		    <div class="order">
		    	<button type="submit" class="btn btn-primary submitbtn">订单结算</button>
		    	<button type="submit" class="btn btn-primary saveorder">挂单</button>
		    </div>
		</div>
	</div>
</div>
