<td class = "first"></td>
<td><input type="text" name="cardNumber" value={{cardNumber}}></td>
<td>
	<select class="memberrank">
		<option>铜牌会员</option>
		<option>银牌会员</option>
		<option>金牌会员</option>
		<option>钻石会员</option>
	</select>
</td>
<td><input type="text" name="memberName" value={{memberName}}></td>
<td><input type="text" name="memberPhone" value={{memberPhone}}></td>
<td><input type="text" name="money" value={{money}}></td>
<td>
	<a href="javascript:;" class="memberModify">确认</a>
	<a href="javascript:;" class="cancel">取消</a>
</td>