	<div class = 'bg-primary'>会员信息登记</div>
	<div class="form">
		<div class="col-md-6 form-group leftform">
			<span>
			   <label for="cardnum">卡号</label>
			   <input type="text" class="form-control" id="cardnum">
			</span>
			<span>
			    <label for="race">会员等级</label>
			    <select class="form-control memberRank">
		   			<option>铜牌会员</option>
		   			<option>银牌会员</option>
		   			<option>金牌会员</option>
		   			<option>钻石会员</option>
			   	</select>
			</span>
			<span>
			    <label for="name">会员姓名</label>
			    <input type="text" class="form-control" id="name">
			</span>
			<span>
			    <label for="mobile">会员手机</label>
			    <input type="text" class="form-control" id="mobile">
			</span>
			<button class="btn btn-info save">保存内容</button>
		</div>
		<div class="col-md-6 form-group rightform">
			<span>
			    <label for="psw">初始密码</label>
			    <input type="password" class="form-control" id="psw">
			</span>
			<span>
			   <label for="identity">初始金额</label>
			   <input type="text" class="form-control" id="identity">
			</span>
			<span>
			    <label>状态</label>
			    <p>
				    <label class="radio-inline">
				    	<input type="radio"  name="status"value="option1"> 正常
				    </label>
				    <label class="radio-inline">
				    	<input type="radio"  name="status"value="option3"> 挂失
				    </label>
				</p>
			</span>
		</div>
	</div>
</div>