<div class="add_admin">
	<p class="bg-primary">管理员登记</p>
	<div class = "bottom">
		<div class="form-horizontal" role="form" class = "addadminform">
		    <div class="form-group">
		   		<label for="adminName" class="col-sm-2 control-label">Name</label>
		    	<div class="col-sm-10">
		    		<input type="text" class="form-control" id="adminName" placeholder="name">
		    	</div>
		    </div>
		    <div class="form-group">
		    	<label for="adminAccount" class="col-sm-2 control-label">Acount</label>
		    	<div class="col-sm-10">
		        	<input type="text" class="form-control" id="adminAccount" placeholder="adminAccount">
		    	</div>
		  	</div>
		  	<div class="form-group">
		    	<label for="adminPassword" class="col-sm-2 control-label">Password</label>
		    	<div class="col-sm-10">
		      		<input type="password" class="form-control" id="adminPassword" placeholder="adminPassword">
		    	</div>
		  	</div>
		  	<div class="form-group">
		    	<label for="adminPhone" class="col-sm-2 control-label">Phone</label>
		    	<div class="col-sm-10">
		      		<input type="text" class="form-control" id="adminPhone" placeholder="Phone">
		    	</div>
		  	</div>
			<div class="form-group">
		    	<div class="col-sm-offset-2 col-sm-10">
		    		<button type="button" class="btn btn-default addmanage">添加</button>
		   		</div>
			</div>
		</div>
	<div>
</div>
